[submodule "lib/CommManager4MATLAB"]
	path = lib/CommManager4MATLAB
	url = git@github.com:PeterCalifano/CommManager4MATLAB.git
[submodule "lib/TensorRT"]
	path = lib/TensorRT
	url = https://github.com/pytorch/TensorRT.git
	branch = release/2.6
