/* Increase the width of the content area */
.wy-nav-content {
    max-width: 100%;
    /* Set to your preferred width */
}

.wy-side-nav-search {
    width: 100%;
    overflow: visible;
    /* Fixes the cutoff issue */
}

/* Optionally adjust the width of the side navigation */
/*
.wy-nav-side {
    width: 250px;
     Set a custom width for the side index 
}
*/


/* Adjust the input field of the search bar */
.wy-side-nav-search input {
    width: 90%;
    /* Adjust the width if necessary */
}

/* Change background color */
body {
    background-color: #f8f8f8;
}

/* Change text color */
p {
    color: #333;
}

/* Customize sidebar background and link colors */
.wy-nav-side {
    background-color: #2c3e50;
}

.wy-nav-side a {
    color: #ecf0f1;
}

/* Customize main content links */
a {
    color: #2980b9;
}