name: Python Package using Conda

# Set run on push on main branches and only if src file has changed
on: 
  push:
   branches:
    - main 
    - dev_main
   paths:
    - examples/**
    - pyTorchAutoForge/**
    - tests/**
  pull_request:
    branches:
    - main
    - dev_main
  release: # Always
    types:
    - created
    - published
    - edited
    - deleted
    - prereleased
    - released
    - unpublished
  workflow_dispatch:
    inputs:
      run-tests:
        description: "Run tests?"
        required: false
        default: "true"
  
jobs:
  build-package:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - name: Cache conda packages
      id: conda-cache
      uses: actions/cache@v4
      with:
        path: ~/miniconda3/pkgs
        key: ${{ runner.os }}-conda-${{ hashFiles('environment-ci.yml') }}
        restore-keys: |
          ${{ runner.os }}-conda-
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        environment-file: environment-ci.yml
        activate-environment: autoforge
        installation-dir: ~/miniconda3
        auto-activate-base: false
        pkgs-dirs: ~/miniconda3/pkgs
        use-mamba: true
        use-only-tar-bz2: true
    - name: Install dependencies
      run: |
        "${CONDA}/bin/conda" run -n autoforge python -m pip install .
  verify-lint:
    runs-on: ubuntu-latest
    needs: build-package
    steps:
    - uses: actions/checkout@v4
    - name: Cache conda packages
      id: conda-cache
      uses: actions/cache@v4
      with:
        path: ~/miniconda3/pkgs
        key: ${{ runner.os }}-conda-${{ hashFiles('environment-ci.yml') }}
        restore-keys: |
          ${{ runner.os }}-conda-
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        environment-file: environment-ci.yml
        activate-environment: autoforge
        installation-dir: ~/miniconda3
        auto-activate-base: false
        pkgs-dirs: ~/miniconda3/pkgs
        use-mamba: true
        use-only-tar-bz2: true
    - name: Lint with flake8
      run: |
        "${CONDA}/bin/conda" run -n autoforge python -m pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        "${CONDA}/bin/conda" run -n autoforge flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        "${CONDA}/bin/conda" run -n autoforge flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  test-package:
    runs-on: ubuntu-latest
    needs: build-package
    steps:
    - uses: actions/checkout@v4
    - name: Cache conda packages
      id: conda-cache
      uses: actions/cache@v4
      with:
        path: ~/miniconda3/pkgs
        key: ${{ runner.os }}-conda-${{ hashFiles('environment-ci.yml') }}
        restore-keys: |
          ${{ runner.os }}-conda-
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        environment-file: environment-ci.yml
        activate-environment: autoforge
        installation-dir: ~/miniconda3
        auto-activate-base: false
        pkgs-dirs: ~/miniconda3/pkgs
        use-mamba: true
        use-only-tar-bz2: true
    - name: Test with pytest
      run: |
        "${CONDA}/bin/conda" run -n autoforge python -m pytest # TODO add specifications of test

    
