name: Python Package using Conda

# Set run on push on main branches and only if src file has changed
on: 
  push:
   branches:
    - main 
    - dev_main
   paths:
    - examples/**
    - pyTorchAutoForge/**
    - tests/**
  pull_request:
    branches:
    - main
    - dev_main
  release: # Always
    types:
    - created
    - published
    - edited
    - deleted
    - prereleased
    - released
    - unpublished
  workflow_dispatch:
    inputs:
      run-tests:
        description: "Run tests?"
        required: false
        default: "true"
  
jobs:
  build-package:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4
    - name: Set up conda environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        environment-file: environment.yml
        activate-environment: autoforge
        auto-activate-base: false
        use-mamba: true
        cache-environment: true
    - name: Install dependencies
      run: |
        pip install .
  verify-lint:
    runs-on: ubuntu-latest
    needs: build-package
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v4
    - name: Set up conda environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        environment-file: environment.yml
        activate-environment: autoforge
        auto-activate-base: false
        use-mamba: true
        cache-environment: true
    - name: Lint with flake8
      run: |
        python -m pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  test-package:
    runs-on: ubuntu-latest
    needs: build-package
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v4
    - name: Set up conda environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        environment-file: environment.yml
        activate-environment: autoforge
        auto-activate-base: false
        use-mamba: true
        cache-environment: true
    - name: Test with pytest
      run: |
        python -m pytest # TODO add specifications of test

    
